@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

:root {
  --accent-color: #d41443;
  --first-text-color: #ffffff;
  --second-text-color: #000000;
  --third-text-color: #ffa5ba;
  --fourth-text-color: #907e82;
  --hero-bg-color: #ffb8ca;
  --section-bg-color: #fff5f6;
  --comments-bg-color: #fafafa;
  --ice-cream-cat-bg: #f0d1a5;
  --ice-coffee-cat-bg: #c2e297;
  --milkshakes-cat-bg: #ffb8ca;
  --line-color: #e1e1e1;
  --mobile-menu-bg: #e17992;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  cursor: default;
  text-decoration: none;
}

li {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: DM Sans, Verdana, sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.page-header_burger {
  border: none;
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .page-header_burger {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .page-header_burger {
    display: none;
  }
}

.page-header_button {
  display: none;
  min-width: 160px;
  height: 44px;
  border: none;
  border-radius: 22px;
  background-color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  cursor: pointer;
  color: var(--accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .page-header_button {
    display: block;
  }
}

.page-header_button:hover, .page-header_button:focus {
  background-color: #ecebeb;
}

.products-button {
  cursor: pointer;
  min-width: 62px;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  padding: 9px 14px;
  color: var(--first-text-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 20px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1280px) {
  .products-button {
    min-width: 104px;
    padding: 14px 21px;
    font-size: 14px;
    line-height: 1.28;
  }
}

.products-button:hover, .products-button:focus {
  background-color: #c7133e;
}

.made-button {
  cursor: pointer;
  min-width: 82px;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  padding: 9px 14px;
  color: var(--accent-color);
  background-color: var(--first-text-color);
  border: none;
  border-radius: 20px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1280px) {
  .made-button {
    min-width: 138px;
    padding: 14px 21px;
    font-size: 14px;
    line-height: 1.28;
  }
}

.made-button:hover, .made-button:focus {
  background-color: #ecebeb;
}

.hero-text_button {
  display: none;
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: var(--first-text-color);
}

@media screen and (min-width: 768px) {
  .hero-text_button {
    display: block;
    margin-top: 7px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-text_button {
    width: 26px;
    height: 26px;
    margin-top: 20px;
  }
}

.arrow-btn {
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 1280px) {
  .arrow-btn {
    width: 26px;
    height: 26px;
  }
}

.btn-modal {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: 0.06em;
  background-color: #ecebeb;
  color: #d41443;
  border-radius: 22px;
  padding: 20px 37px 20px 37px;
  border: none;
}

.btn-modal:hover,
.btn-modal:focus {
  background-color: #c7133e;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal {
  position: absolute;
  min-height: 581px;
  background-color: #e17992;
  border-radius: 22px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  width: 450px;
}

.modal-form-field {
  margin-bottom: 25px;
}

.modal-close {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
}

.close-icon {
  fill: #ecebeb;
}

.close-icon:hover,
.close-icon:focus {
  fill: #c7133e;
}

.modal-title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  display: block;
  color: #ecebeb;
}

.modal-form-lable {
  font-size: 20px;
  line-height: 14px;
  color: #ecebeb;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  left: 576px;
  top: 314px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 17px;
  padding-left: 42px;
  color: #c7133e;
}

.modal-form-input:focus, .modal-form-input:hover {
  border-color: #c7133e;
  outline: none;
}

.input-wrap {
  display: block;
  position: relative;
  -webkit-transition: border 250ms linear;
  transition: border 250ms linear;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #ecebeb;
}

.modal-form-input:hover + .modal-icon,
.modal-form-input:focus + .modal-icon {
  fill: #c7133e;
}

.modal-comment {
  width: 100%;
  height: 120px;
  left: 576px;
  top: 314px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 17px;
  padding-left: 16px;
  padding-top: 12px;
  resize: none;
  color: #c7133e;
}

.modal-comment:focus, .modal-comment:hover {
  border-color: #c7133e;
  outline: none;
}

.modal-comment::-webkit-input-placeholder {
  font-size: 14px;
}

.modal-comment:-ms-input-placeholder {
  font-size: 14px;
}

.modal-comment::-ms-input-placeholder {
  font-size: 14px;
}

.modal-comment::placeholder {
  font-size: 14px;
}

.modal-form-link {
  color: #c7133e;
}

.check-lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check-lable::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #c7133e;
  border-radius: 2px;
  margin-right: 5px;
}

.checkbox:checked + .check-lable::before {
  background: #c7133e;
  fill: #ecebeb;
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.modal-form-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.ceckbox-text {
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ecebeb;
}

.modal-btn {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

img {
  width: 100%;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.page-header {
  width: 100%;
  position: absolute;
  z-index: 1;
  padding-top: 37px;
}

.page-header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1280px) {
  .page-header_menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header-nav_link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav_link:hover, .header-nav_link:focus {
  color: var(--accent-color);
}

.header-logo {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 263px;
  }
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 0px;
  }
}

.header-burger_icon {
  width: 20px;
  height: 12px;
}

.header-tablet-button_icon {
  width: 6px;
  height: 10px;
  margin-left: 13px;
}

.header-nav {
  display: none;
}

@media screen and (min-width: 1280px) {
  .header-nav {
    display: block;
  }
}

.burger-button_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav_list {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  display: flex;
}

.header-nav_item:not(:last-child) {
  margin-right: 35px;
}

.hero {
  min-height: 502px;
  background-color: var(--hero-bg-color);
  position: relative;
}

@media screen and (min-width: 768px) {
  .hero {
    min-height: 399px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    min-height: 665px;
  }
}

.hero-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-title_box {
  width: 228px;
  margin-top: 193px;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .hero-title_box {
    margin-top: 102px;
    width: 161px;
    position: relative;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title_box {
    margin-top: 171px;
    width: 277px;
  }
}

.hero_title {
  margin-bottom: 20px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--first-text-color);
}

@media screen and (min-width: 768px) {
  .hero_title {
    font-size: 22px;
    line-height: 1.13;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .hero_title {
    font-size: 38px;
    line-height: 1.15;
  }
}

.hero_word {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 0.95;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
}

@media screen and (min-width: 1280px) {
  .hero_word {
    font-size: 58px;
    line-height: 0.89;
  }
}

.hero-text {
  display: none;
  width: 114px;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.5;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero-text {
    display: block;
    width: 114px;
    margin-top: 66px;
    margin-left: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-text {
    display: block;
    margin-top: 112px;
    margin-left: 180px;
    width: 200px;
    font-size: 14px;
    line-height: 1.42;
  }
}

.hero-ellipse {
  min-width: 346px;
  position: absolute;
  height: 344px;
  background-color: var(--third-text-color);
  border-radius: 50%;
  margin-top: 83px;
}

@media screen and (min-width: 768px) {
  .hero-ellipse {
    position: relative;
    width: 324px;
    height: 322px;
    margin-top: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-ellipse {
    width: 538px;
    height: 538px;
    margin-top: 52px;
  }
}

.hero-image_icecream {
  position: absolute;
  top: 9px;
  left: 81px;
  width: 171px;
  height: 410px;
}

@media screen and (min-width: 768px) {
  .hero-image_icecream {
    width: 143px;
    height: 336px;
    top: 35px;
    left: 78px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-image_icecream {
    width: 236px;
    height: 557px;
    top: 56px;
    left: 119px;
  }
}

.hero-numbers_box {
  display: none;
  width: 43px;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: var(--first-text-color);
}

@media screen and (min-width: 768px) {
  .hero-numbers_box {
    display: block;
    margin-top: 103px;
    width: 43px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-numbers_box {
    width: 74px;
    margin-top: 171px;
    font-size: 14px;
    line-height: 1.28;
  }
}

.hero_numbers {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
}

@media screen and (min-width: 1280px) {
  .hero_numbers {
    font-size: 46px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
}

.cafes {
  margin-bottom: 22px;
}

@media screen and (min-width: 1280px) {
  .cafes {
    margin-bottom: 32px;
  }
}

.hero-image-milk {
  display: none;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .hero-image-milk {
    display: block;
    width: 124px;
    height: 126px;
    bottom: 0px;
    left: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-image-milk {
    display: block;
    width: 188px;
    height: 191px;
    bottom: 0px;
    left: -38px;
  }
}

.hero-img_girl {
  width: 168px;
  height: 133px;
  display: none;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .hero-img_girl {
    display: block;
    width: 168px;
    height: 133px;
    bottom: -49px;
    right: -110px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-img_girl {
    width: 293px;
    height: 232px;
    bottom: -75px;
    right: -158px;
  }
}

.hero {
  min-height: 502px;
  background-color: var(--hero-bg-color);
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .hero {
    min-height: 399px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    min-height: 665px;
  }
}

.hero-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-title_box {
  width: 228px;
  margin-top: 193px;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .hero-title_box {
    margin-top: 102px;
    width: 161px;
    position: relative;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title_box {
    margin-top: 171px;
    width: 277px;
  }
}

.hero_title {
  margin-bottom: 20px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--first-text-color);
}

@media screen and (min-width: 768px) {
  .hero_title {
    font-size: 22px;
    line-height: 1.13;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .hero_title {
    font-size: 38px;
    line-height: 1.15;
  }
}

.hero_word {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 0.95;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
}

@media screen and (min-width: 1280px) {
  .hero_word {
    font-size: 58px;
    line-height: 0.89;
  }
}

.hero-text {
  display: none;
  width: 114px;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.5;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero-text {
    display: block;
    width: 114px;
    margin-top: 66px;
    margin-left: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-text {
    display: block;
    margin-top: 112px;
    margin-left: 180px;
    width: 200px;
    font-size: 14px;
    line-height: 1.42;
  }
}

.hero-ellipse {
  min-width: 346px;
  position: absolute;
  height: 344px;
  background-color: var(--third-text-color);
  border-radius: 50%;
  margin-top: 83px;
}

@media screen and (min-width: 768px) {
  .hero-ellipse {
    position: relative;
    width: 324px;
    height: 322px;
    margin-top: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-ellipse {
    width: 538px;
    height: 538px;
    margin-top: 52px;
  }
}

.hero-image_icecream {
  position: absolute;
  top: 9px;
  left: 81px;
  width: 171px;
  height: 410px;
}

@media screen and (min-width: 768px) {
  .hero-image_icecream {
    width: 143px;
    height: 336px;
    top: 35px;
    left: 78px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-image_icecream {
    width: 236px;
    height: 557px;
    top: 56px;
    left: 119px;
  }
}

.hero-numbers_box {
  display: none;
  width: 43px;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: var(--first-text-color);
}

@media screen and (min-width: 768px) {
  .hero-numbers_box {
    display: block;
    margin-top: 103px;
    width: 43px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-numbers_box {
    width: 74px;
    margin-top: 171px;
    font-size: 14px;
    line-height: 1.28;
  }
}

.hero_numbers {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
}

@media screen and (min-width: 1280px) {
  .hero_numbers {
    font-size: 46px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
}

.cafes {
  margin-bottom: 22px;
}

@media screen and (min-width: 1280px) {
  .cafes {
    margin-bottom: 32px;
  }
}

.hero-image-milk {
  display: none;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .hero-image-milk {
    display: block;
    width: 124px;
    height: 126px;
    bottom: 0px;
    left: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-image-milk {
    display: block;
    width: 188px;
    height: 191px;
    bottom: 0px;
    left: -38px;
  }
}

.hero-img_girl {
  width: 168px;
  height: 133px;
  display: none;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .hero-img_girl {
    display: block;
    width: 168px;
    height: 133px;
    bottom: -49px;
    right: -110px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-img_girl {
    width: 293px;
    height: 232px;
    bottom: -75px;
    right: -158px;
  }
}

.products {
  padding-top: 122px;
  padding-bottom: 98px;
  background-color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .products {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .products {
    width: 768px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    width: 1200px;
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.product-subtitle {
  margin-bottom: 15px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

@media screen and (min-width: 320px) {
  .product-subtitle {
    width: 320;
  }
}

@media screen and (min-width: 768px) {
  .product-subtitle {
    width: 100%;
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .product-subtitle {
    width: 100%;
    font-size: 30px;
    line-height: 1.13;
  }
}

.product-title {
  margin-bottom: 144px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 320px) {
  .product-title {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .product-title {
    width: 100%;
    font-size: 48px;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .product-title {
    font-size: 58px;
    margin-bottom: 259px;
  }
}

.product-content {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .product-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.product-name {
  position: relative;
  margin-top: 161px;
  margin-bottom: 66px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .product-name {
    margin-top: 152px;
  }
}

@media screen and (min-width: 1200px) {
  .product-name {
    font-size: 30px;
    line-height: 1.13;
    margin-top: 163px;
  }
}

.product-name::after {
  position: absolute;
  content: '•••';
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 15px;
  letter-spacing: 4px;
}

.product-description {
  margin-bottom: 30px;
  padding: 0 40px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .product-description {
    max-width: 768px;
    line-height: 1.6;
    margin-bottom: 40px;
    padding: 0 10px;
  }
}

@media screen and (min-width: 1200px) {
  .product-description {
    max-width: 1200px;
    font-size: 16px;
    padding: 0 40px;
  }
}

.product-ice {
  display: inline-block;
  margin-bottom: 144px;
  text-align: center;
  width: 280px;
  height: 485px;
  background: #ffb8ca;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .product-ice {
    width: 220px;
    margin-bottom: 0px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .product-ice {
    width: 329px;
    height: 525px;
  }
}

.product-ice::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 252px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../images/ice-cream1.png);
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-ice::before {
    background-image: url(../images/ice-cream2-min.png);
    background-size: contain;
  }
}

@media screen and (min-width: 768px) {
  .product-ice::before {
    width: 220px;
    height: 233px;
    background-image: url(../images/ice-cream2x1-min.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-ice::before {
    background-image: url(../images/ice-cream2x2-min.png);
    background-size: contain;
  }
}

@media screen and (min-width: 1200px) {
  .product-ice::before {
    width: 335px;
    height: 335px;
    background-image: url(../images/ice-cream3x1-min.png);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-ice::before {
    background-image: url(../images/ice-cream3x2-min.png);
    background-size: contain;
  }
}

.product-coffee {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 144px;
  text-align: center;
  width: 280px;
  height: 485px;
  background: #f0d1a5;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .product-coffee {
    width: 220px;
    margin-bottom: 0px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .product-coffee {
    width: 329px;
    height: 525px;
  }
}

.product-coffee::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 252px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../images/coffee1.png);
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-coffee::before {
    background-image: url(../images/coffee2-min.png);
    background-size: contain;
  }
}

@media screen and (min-width: 768px) {
  .product-coffee::before {
    width: 220px;
    height: 233px;
    background-image: url(../images/coffee2x1-min.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-coffee::before {
    background-image: url(../images/coffee2x2-min.png);
    background-size: contain;
  }
}

@media screen and (min-width: 1200px) {
  .product-coffee::before {
    width: 335px;
    height: 335px;
    background-image: url(../images/coffee3x1-min.png);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-coffee::before {
    background-image: url(../images/coffee3x2-min.png);
    background-size: contain;
  }
}

.product-milkshake {
  display: inline-block;
  text-align: center;
  width: 280px;
  height: 485px;
  background: #c2e297;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .product-milkshake {
    width: 220px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .product-milkshake {
    width: 329px;
    height: 525px;
  }
}

.product-milkshake::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 252px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../images/milk1.png);
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-milkshake::before {
    background-image: url(../images/milk2-min.png);
    background-size: contain;
  }
}

@media screen and (min-width: 768px) {
  .product-milkshake::before {
    width: 220px;
    height: 233px;
    background-image: url(../images/milk2x1-min.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-milkshake::before {
    background-image: url(../images/milk2x2-min.png);
    background-size: contain;
  }
}

@media screen and (min-width: 1200px) {
  .product-milkshake::before {
    width: 335px;
    height: 335px;
    background-image: url(../images/milk3x1-min.png);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-milkshake::before {
    background-image: url(../images/milk3x2-min.png);
    background-size: contain;
  }
}

.product-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
}

.product-button:hover, .product-button:focus {
  background-color: #f7e4e8;
}

.icon-arrow {
  text-align: center;
  fill: #d41443;
}

.how-its-made {
  font-weight: normal;
  letter-spacing: normal;
  background-color: #fff5f6;
  background-image: url("../images/milk-mob-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 768px;
  font-family: DM Sans;
  padding-top: 125px;
  padding-bottom: 39px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .how-its-made {
    background-image: url("../images/milk-mob-2.png");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-its-made {
    padding-top: 130px;
  }
}

@media screen and (min-width: 768px) {
  .how-its-made {
    background-image: none;
  }
}

@media screen and (min-width: 1200px) {
  .how-its-made {
    background-image: url("../images/milk-desk-1.png");
    background-position: 0 342px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .how-its-made {
    background-image: url("../images/milk-desk-2.png");
  }
}

.how-its-made-main {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

@media screen and (min-width: 768px) {
  .how-its-made-main {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .how-its-made-main {
    width: 1200px;
  }
}

.how-its-made__first-title {
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  color: #ffa5ba;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .how-its-made__first-title {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .how-its-made__first-title {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.how-its-made__second-title {
  font-family: Titan One;
  width: 200px;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #d41443;
  margin: 0 auto 26px auto;
}

@media screen and (min-width: 768px) {
  .how-its-made__second-title {
    width: 100%;
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .how-its-made__second-title {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
    margin-bottom: 55px;
  }
}

@media screen and (min-width: 768px) {
  .how-its-made-picture-and-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.how-its-made__picture {
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .how-its-made__picture {
    margin-left: 37px;
    margin-right: 17px;
  }
}

@media screen and (min-width: 1200px) {
  .how-its-made__picture {
    margin-left: 71px;
    margin-right: 74px;
  }
}

.how-its-made__image {
  width: 280px;
  margin: 0 auto 46px auto;
}

@media screen and (min-width: 768px) {
  .how-its-made__image {
    width: 100%;
    margin-bottom: 0;
  }
}

.how-its-made-right {
  margin-left: auto;
  margin-right: auto;
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
}

@media screen and (min-width: 768px) {
  .how-its-made-right {
    margin: 50px 0 0 0;
    max-width: 340px;
    font-size: 14px;
    line-height: 1.76;
  }
}

@media screen and (min-width: 1200px) {
  .how-its-made-right {
    margin-top: 51px;
    max-width: 463px;
  }
}

.how-its-made__first-text {
  margin-bottom: 47px;
  height: 79px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .how-its-made__first-text {
    margin-bottom: 49px;
  }
}

@media screen and (min-width: 1200px) {
  .how-its-made__first-text {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.04em;
  }
}

.how-its-made__second-text {
  margin-bottom: 17px;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .how-its-made__second-text {
    margin-bottom: 62px;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .how-its-made__second-text {
    margin-bottom: 45px;
    line-height: 1.94;
  }
}

.second-text__top {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .second-text__top {
    margin-bottom: 7px;
  }
}

@media screen and (min-width: 1200px) {
  .second-text__top {
    margin-bottom: 0px;
  }
}

.how-its-made__btn {
  width: 176px;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  border: none;
}

.how-its-made__btn:hover, .how-its-made__btn:focus {
  background: #ecebeb;
  cursor: pointer;
}

.how-its-made__icon {
  margin-left: 8px;
  fill: #d41443;
}

.how-its-made__read-more {
  margin-right: 12px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #d41443;
}

.gallery {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #fff5f6), color-stop(40%, #ffffff));
  background-image: linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
  width: 100vw;
  padding-bottom: 123px;
}

.item {
  border-radius: 20px;
  padding: 5px;
}

.persent-size {
  width: 25%;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff5f6;
  padding-bottom: 97px;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 140px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .advantages {
    padding-left: 115px;
    padding-right: 115px;
    padding-bottom: 139px;
  }
}

.adventages-title {
  height: 0;
  width: 0;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -60px;
    margin-left: -60px;
  }
}

.advantages-list__item {
  width: 230px;
}

@media screen and (min-width: 768px) {
  .advantages-list__item {
    width: 180px;
    margin-top: 60px;
    margin-left: 60px;
    -ms-flex-preferred-size: calc(100% / 3 - 60px);
        flex-basis: calc(100% / 3 - 60px);
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .advantages-list__item {
    width: 330px;
  }
}

@media screen and (max-width: 767px) {
  .advantages-list__item:not(:last-child) {
    margin-bottom: 38px;
  }
}

.milk-item::before {
  display: inline-block;
  width: 100%;
  height: 50px;
  content: '';
  background-image: url(../images/icon-milk.png);
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .milk-item::before {
    background-image: url(../images/icon-milk-2x.png);
    height: 100px;
  }
}

.apple-item::before {
  display: inline-block;
  width: 100%;
  height: 50px;
  content: '';
  background-image: url(../images/icon-apple.png);
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .apple-item::before {
    background-image: url(../images/icon-apple-2x.png);
    height: 100px;
  }
}

.heart-item::before {
  display: inline-block;
  width: 100%;
  height: 50px;
  content: '';
  background-image: url(../images/icon-heart.png);
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .heart-item::before {
    background-image: url(../images/icon-heart-2x.png);
    height: 100px;
  }
}

.advantages-list__volume {
  display: block;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: calc(41 / 36);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 16px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .advantages-list__volume {
    font-size: 48px;
    line-height: calc(55 / 48);
    margin-top: 36px;
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .advantages-list__volume {
    font-size: 58px;
    line-height: calc(66 / 58);
    margin-top: 40px;
    margin-bottom: 15px;
  }
}

.advantages-list__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(20 / 12);
  letter-spacing: 0.02em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .advantages-list__text {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .advantages-list__text {
    font-size: 16px;
    line-height: calc(28 / 16);
  }
}

.reviews {
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 86px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .reviews {
    max-width: 768px;
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 119;
  }
}

@media screen and (min-width: 1280px) {
  .reviews {
    max-width: 1280px;
    padding-left: 176px;
    padding-right: 176px;
    padding-bottom: 132px;
  }
}

.reviews__img {
  display: block;
  width: 85px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .reviews__img {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .reviews__img {
    margin-bottom: 15px;
  }
}

.reviews__text-wrap {
  width: 100%;
  background-color: #fafafa;
  margin-bottom: 30px;
  padding-top: 42px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 26px;
}

.reviews__text-wrap::before {
  content: '';
  position: absolute;
  background-image: url(../images/quotes.svg);
  width: 54px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .reviews__text-wrap {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .reviews__text-wrap {
    margin-bottom: 15px;
  }
}

.reviews__text {
  position: relative;
  text-align: center;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  background-image: repeating-linear-gradient(180deg, transparent, transparent 29px, #e1e1e1 30px);
}

.reviews__city-name {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  color: #000000;
}

.reviews__city-name::before {
  content: '';
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/points.png);
  width: 32px;
  height: 4px;
  margin-bottom: 16px;
}

.reviews__city-name::after {
  content: '';
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/hr-dots.png);
  width: 72px;
  height: 12px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .reviews__city-name::after {
    margin-top: 35px;
  }
}

body {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
    line-height: 1.83;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}

.container__contacts {
  padding-bottom: 113px;
}

@media screen and (min-width: 768px) {
  .container__contacts {
    padding-bottom: 158px;
  }
}

@media screen and (min-width: 1200px) {
  .container__contacts {
    padding-bottom: 165px;
  }
}

@media screen and (max-width: 767px) {
  .container__contacts {
    max-width: 280px;
  }
}

.contacts {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff5f6), to(#fff5f6));
  background-image: linear-gradient(#fff5f6, #fff5f6);
  background-position: right 0px top 84px;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 1200px) {
  .contacts {
    background-image: url(../images/dots.png), -webkit-gradient(linear, left top, left bottom, from(#fff5f6), to(#fff5f6));
    background-image: url(../images/dots.png), linear-gradient(#fff5f6, #fff5f6);
    background-position: right 0px top 102px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.contacts__list {
  margin-bottom: 54px;
}

@media screen and (min-width: 768px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 84px;
  }
}

.contact {
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 43px 20px;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .contact {
    margin-bottom: 20px;
  }
  .contact:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    -ms-flex-preferred-size: calc(100%/3);
        flex-basis: calc(100%/3);
    padding: 50px 28px;
    margin-right: 30px;
  }
  .contact:last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    padding: 51px 40px 62px 40px;
  }
}

.category {
  color: #fff;
  display: inline-block;
  padding: 2px 15px;
  background-color: #f0d1a5;
  border-radius: 4px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .category {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .category {
    margin-bottom: 32px;
  }
}

.category--color {
  color: #fff;
  display: inline-block;
  padding: 2px 15px;
  background-color: #c2e297;
  border-radius: 4px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .category--color {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .category--color {
    margin-bottom: 32px;
  }
}

.contacts__header {
  margin-bottom: 10px;
}

.contact-container {
  position: relative;
}

.contacts__text {
  color: #907E82;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .contacts__text {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__text {
    margin-bottom: 64px;
  }
}

.contacts__text::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
  bottom: 210px;
  left: 0px;
}

@media screen and (min-width: 768px) {
  .contacts__text::after {
    bottom: 265px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__text::after {
    bottom: 300px;
  }
}

.agenda {
  margin-top: 25px;
  border-bottom: #E1E1E1;
  margin-bottom: 40px;
}

.agenda::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
  left: 0px;
  bottom: 60px;
}

@media screen and (min-width: 768px) {
  .agenda::after {
    bottom: 73px;
  }
}

.agenda__days {
  margin-top: 9px;
  color: #000;
}

.agenda__hours {
  margin-bottom: 15px;
  color: #FFA5BA;
}

.contact__itam {
  color: #907E82;
}

.button-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .button-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button-section__itam--red {
  font-weight: 700;
  font-size: 16px;
  width: 162px;
  height: 44px;
  background-color: #d41342;
  color: #fff;
  border: 0;
  border-radius: 100px;
}

@media screen and (min-width: 1200px) {
  .button-section__itam--red {
    width: 198px;
  }
}

.button-section__itam--red:hover {
  background-color: #c7133e;
}

@media screen and (max-width: 767px) {
  .button-section__itam--red {
    margin: 0 auto;
  }
}

.button-section__itam--white {
  font-weight: 700;
  font-size: 16px;
  width: 162px;
  height: 44px;
  border: 0;
  border-radius: 100px;
  color: #D41443;
  background-color: #fff;
}

@media screen and (min-width: 1200px) {
  .button-section__itam--white {
    width: 198px;
  }
}

.button-section__itam--white:hover, .button-section__itam--white:focus {
  background-color: #ECEBEB;
}

@media screen and (max-width: 767px) {
  .button-section__itam--white {
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .button-section__itam--white {
    margin-left: 15px;
  }
}

.footer {
  background: #fff5f6;
}

.footer-text-container {
  width: 234px;
  height: 100%;
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .footer-text-container {
    margin-bottom: 0;
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-text-container {
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer-box-text {
    margin-bottom: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .footer-title {
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .footer-title {
    font-size: 58px;
    line-height: 1.13;
  }
}

.footer-text {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 17px;
}

@media screen and (min-width: 768px) {
  .footer-text {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .footer-text {
    font-size: 30px;
    line-height: 1.13;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-bottom: 46px;
}

.footer-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #fea5bb;
  fill: #ffffff;
}

.footer-item-icon {
  width: 32px;
  height: 32px;
}

.footer-item-icon:not(:last-child) {
  margin-right: 28px;
}

.footer-text-tel {
  display: block;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  color: #000000;
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .footer-text-tel {
    font-size: 14px;
    line-height: 1.86;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-text-tel {
    font-size: 16px;
  }
}

.footer-tel {
  color: #d41443;
}

.footer-container {
  border-top: 1px solid #e1e1e1;
  padding-top: 22px;
  padding-bottom: 25px;
  /* padding-left: 85px;
  padding-right: 85px; */
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.footer-rights-box {
  width: 150px;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .footer-rights-box {
    width: auto;
  }
}

.footer-rights {
  width: 150px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .footer-rights {
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}
/*# sourceMappingURL=main.css.map */