:root {
  --accent-color: #d41443;
  --first-text-color: #ffffff;
  --second-text-color: #000000;
  --third-text-color: #ffa5ba;
  --fourth-text-color: #907e82;
  --hero-bg-color: #ffb8ca;
  --section-bg-color: #fff5f6;
  --comments-bg-color: #fafafa;
  --ice-cream-cat-bg: #f0d1a5;
  --ice-coffee-cat-bg: #c2e297;
  --milkshakes-cat-bg: #ffb8ca;
  --line-color: #e1e1e1;
  --mobile-menu-bg: #e17992;
}
