<section class="advantages">
    <div class="container">
        <h2 class="adventages-title">Advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-list__item milk-item">
                <span class="advantages-list__volume">721</span>
                <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__item apple-item">
                <span class="advantages-list__volume">16kg</span>
                <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__item heart-item">
                <span class="advantages-list__volume">84</span>
                <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>
