<footer class="footer">
  <div class="container">
    <div class="footer-box-text">
      <div class="footer-text-container">
        <p class="footer-text">homemade ice cream made</p>
        <p class="footer-title">with passion</p>
      </div>
      <div class="footer-box">
        <ul class="footer-list">
          <li class="footer-item-icon">
            <a href="https://github.com/" target="_blank" class="footer-link">
              <svg class="footer-icon" height="18.82">
                <use href="./images/sprite-con.svg#icon-vector"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item-icon">
            <a href="https://web.telegram.org/z/" target="_blank" class="footer-link">
              <svg class="footer-icon" height="14.93">
                <use href="./images/sprite-con.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item-icon">
            <a href="https://www.facebook.com/" target="_blank" class="footer-link">
              <svg class="footer-icon" height="19.2">
                <use href="./images/sprite-con.svg#icon-faceb"></use>
              </svg>
            </a>
          </li>
        </ul>

        <span class="footer-text-tel"
          >Feel free to contact
          <a class="footer-tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </span>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="footer-rights-box">
      <span class="footer-rights">© 2021 - IceCream. All Rights Reserved.</span>
    </div>
  </div>
</footer>
