<div class="gallery">
  <img class="item"
    srcset="./images/icecream/compressed/icecream1.jpg 370w, ./images/icecream/compressed/icecream1@2x.jpg 740w"
    src="./images/icecream/compressed/icecream1.jpg" alt="мороженное" />
  <img class="item"
    srcset="./images/icecream/compressed/icecream2.jpg 370w, ./images/icecream/compressed/icecream2@2x.jpg 740w"
    src="./images/icecream/compressed/icecream2.jpg" alt="мороженное" />
  <img class="item"
    srcset="./images/icecream/compressed/icecream3.jpg 370w, ./images/icecream/compressed/icecream3@2x.jpg 740w"
    src="./images/icecream/compressed/icecream3.jpg" alt="мороженное" />
  <img class="item"
    srcset="./images/icecream/compressed/icecream4.jpg 370w, ./images/icecream/compressed/icecream4@2x.jpg 740w"
    src="./images/icecream/compressed/icecream4.jpg" alt="мороженное" />
  <img class="item"
    srcset="./images/icecream/compressed/icecream5.jpg 370w, ./images/icecream/compressed/icecream5@2x.jpg 740w"
    src="./images/icecream/compressed/icecream5.jpg" alt="мороженное" />
  <img class="item"
    srcset="./images/icecream/compressed/icecream6.jpg 370w, ./images/icecream/compressed/icecream6@2x.jpg 740w"
    src="./images/icecream/compressed/icecream6.jpg" alt="мороженное" />
  <img class="item"
    srcset="./images/icecream/compressed/icecream7.jpg 370w, ./images/icecream/compressed/icecream7@2x.jpg 740w"
    src="./images/icecream/compressed/icecream7.jpg" alt="мороженное" />
  <img class="item"
    srcset="./images/icecream/compressed/icecream8.jpg 370w, ./images/icecream/compressed/icecream8@2x.jpg 740w"
    src="./images/icecream/compressed/icecream8.jpg" alt="мороженное" />
  <img class="item"
    srcset="./images/icecream/compressed/icecream9.jpg 370w, ./images/icecream/compressed/icecream9@2x.jpg 740w"
    src="./images/icecream/compressed/icecream9.jpg" alt="мороженное" />
  <img class="item"
    srcset="./images/icecream/compressed/icecream11.jpg 370w, ./images/icecream/compressed/icecream11@2x.jpg 740w"
    src="./images/icecream/compressed/icecream11.jpg" alt="мороженное" />
</div>