<header class="page-header">
    <div class=" container ">
        <div class="page-header_menu">
            <a href="index.html" class="header-logo">
                <h2 class="header-logo">icecream</h2>
            </a>
            <nav class="header-nav">
                <ul class="header-nav_list">
                    <li class="header-nav_item"> <a href="" class="header-nav_link link">Home</a> </li>
                    <li class="header-nav_item"> <a href="" class="header-nav_link link">About us</a> </li>
                    <li class="header-nav_item"> <a href="" class="header-nav_link link">How it’s made?</a>
                    </li>
                    <li class="header-nav_item"> <a href="" class="header-nav_link link">Our products</a> </li>
                    <li class="header-nav_item"> <a href="" class="header-nav_link link">Contact</a> </li>
                </ul>
            </nav>
            <div class="burger-button_wrap">
                <button type="button" class="page-header_burger ">
                    <svg class="header-burger_icon">
                        <use href="./img/symbol-defs.svg#icon-Burger"></use>
                    </svg>
                </button>
                <button type="button" class="page-header_button ">Buy now
                    <svg class="header-tablet-button_icon">
                        <use href="./img/symbol-defs.svg#icon-Vector-1-2"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>
<main>
    <!-- HERO -->
    <section class="hero">
        <div class="container">
            <div class="hero-wrap">
                <div class="hero-title_box">
                    <h1 class="hero_title">
                        ice cream made with <span class="hero_word">passion </span>
                    </h1>
                    <button type="button" class="products-button"> Products</button>
                    <button type="button" class="made-button">How it’s made?</button>
                    <div class="hero-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et</p>
                        <button type="button" class="hero-text_button">
                            <img class="arrow-btn" src="./img/arrow-right 3.svg" alt="">
                        </button>
                        <img class="hero-image-milk" src="./img/milk.svg" alt="">
                    </div>
                </div>
                <div class="hero-ellipse"><img class="hero-image_icecream" src="./img/icecream-mob.svg" alt="">
                    <img class="hero-img_girl" src="./img/girl.svg" alt="">
                </div>
                <div class="hero-numbers_box">
                    <p class="cafes"> <span class="hero_numbers">16</span> cafes</p>
                    <p class="food-trucks"> <span class="hero_numbers">23</span> food trucks</p>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
