<!-- HERO -->
<section class="hero">
  <div class="container">
    <div class="hero-wrap">
      <div class="hero-title_box">
        <h1 class="hero_title">ice cream made with <span class="hero_word">passion </span></h1>
        <button type="button" class="products-button"> <a href="#products" class="produts-button__text"> Products</a></button>
        <button type="button" class="made-button">  <a href="#how-made" class="made-button__text">How it’s made?</a></button>
        <div class="hero-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button type="button" class="hero-text_button">
            <img class="arrow-btn" src="./images/arrow-right-read-more.svg" alt="" />
          </button>
          <img class="hero-image-milk" src="./images/bio-eco-milk.svg" alt="" />
        </div>
      </div>
      <div class="hero-ellipse">
        <img class="hero-image_icecream" src="./images/ice-cream-hero-desktop.svg" alt="" />
        <img class="hero-img_girl" src="./images/girl-tasty-hero-desktop.svg" alt="" />
      </div>
      <div class="hero-numbers_box">
        <p class="cafes"><span class="hero_numbers">16</span> cafes</p>
        <p class="food-trucks"><span class="hero_numbers">23</span> food trucks</p>
      </div>
    </div>
    <include src="./partials/mobile-menu.html"></include>
  </div>
</section>
