<div class="menu-container is-hidden" data-menu>
  <button type="button" class="menu-button-close" data-menu-close>
    <svg width="14" height="14">
      <use class="icon-cross" href="./images/sprite-con.svg#icon-close"></use>
    </svg>
  </button>
  <button type="button" class="mobile-buy-btn" data-modal-open>
    <span class="button-word">Buy now</span>
  </button>
  <ul>
    <li class="mob-menu__item"><a href="index.html" class="current">Home</a></li>
    <li class="mob-menu__item"><a href="#about-us">About us</a></li>
    <li class="mob-menu__item"><a href="#how-made">How it’s made?</a></li>
    <li class="mob-menu__item"><a href="#products">Our products</a></li>
    <li class="mob-menu__item"><a href="#contacts">Contact</a></li>
  </ul>
</div>
