
<section class="products container">
    <p class="product-subtitle"> 100% natural</p>
    <h2 class="product-title">products</h2>

    <ul class="product-content list">
        <div class="product-card"> 
        <li class="product-ice">
            <h1 class="product-name"> ice cream</h1>
            <p class="product-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et. dolore magna
                aliqua facilisis. </p>
            <button class="product-button" type="button">
                <svg class=" icon-arrow" width="15" height="15">
                    <use href="./images/symbol-defs.svg#icon-arrow"> </use>
                </svg>
            </button>
        </li>
      
        <li class="product-coffee">
            <h1 class="product-name"> ice coffee</h1>
            <p class="product-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et. dolore magna
                aliqua facilisis. </p>
            <button class="product-button" type="button">
                <svg class=" icon-arrow" width="15" height="15">
                    <use href="./images/symbol-defs.svg#icon-arrow"> </use>
                </svg>
            </button>
        </li>
    
        <li class="product-milkshake">
            <h1 class="product-name"> milkshakes</h1>
            <p class="product-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et. dolore
                magna aliqua facilisis. </p>
            <button class="product-button" type="button">
                <svg class="icon-arrow" width="15" height="15">
                    <use href="./images/symbol-defs.svg#icon-arrow"> </use>
                </svg>
            </button>
        </li>
        </div>
    </ul>
</section>