<section class="products container" id="products">
  <p class="product-subtitle">100% natural</p>
  <h2 class="product-title">products</h2>
  <ul class="product-content list">
    <li class="product-ice">
      <h3 class="product-name ice-picture">ice cream</h3>
      <p class="product-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <a href="" class="product-button">
        <svg class="icon-arrow" width="40" height="40">
          <use href="./images/arrow-right-read-more.svg#image0"></use>
        </svg>
      </a>
    </li>

    <li class="product-coffee">
      <h3 class="product-name coffee-picture">ice coffee</h3>
      <p class="product-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <a href="" class="product-button">
        <svg class="icon-arrow" width="40" height="40">
          <use href="./images/arrow-right-read-more.svg#image0"></use>
        </svg>
      </a>
    </li>

    <li class="product-milkshake">
      <h3 class="product-name milkshake-picture">milkshakes</h3>
      <p class="product-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <a href="" class="product-button">
        <svg class="icon-arrow" width="40" height="40">
          <use href="./images/arrow-right-read-more.svg#image0"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
