.advantages {
  display: flex;
  justify-content: center;
  background-color: #fff5f6;
  padding-bottom: 44px;
  @media screen and (min-width: 768px) {
    padding-bottom: 117px;
    @media screen and (min-width: 1280px) {
      padding-left: 115px;
      padding-right: 115px;
      padding-bottom: 56px;
    }
  }
}

.adventages-title {
  height: 0;
  width: 0;
  visibility: hidden;
}

.advantages-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -60px;
    margin-left: -60px;
  }
}

.advantages-list__item {
  width: 230px;
  @media screen and (min-width: 768px) {
    width: 180px;
    margin-top: 60px;
    margin-left: 60px;
    flex-basis: calc(100% / 3 - 60px);
    @media screen and (min-width: 1280px) {
      width: 330px;
    }
  }
}

.advantages-list__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 38px;
  }
}

.milk-item::before {
  display: inline-block;
  width: 100%;
  height: 50px;
  content: '';
  background-image: url(../images/icon-milk.png);
  background-repeat: no-repeat;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/icon-milk-2x.png);
    height: 100px;
  }
}

.apple-item::before {
  display: inline-block;
  width: 100%;
  height: 50px;
  content: '';
  background-image: url(../images/icon-apple.png);
  background-repeat: no-repeat;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/icon-apple-2x.png);
    height: 100px;
  }
}

.heart-item::before {
  display: inline-block;
  width: 100%;
  height: 50px;
  content: '';
  background-image: url(../images/icon-heart.png);
  background-repeat: no-repeat;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/icon-heart-2x.png);
    height: 100px;
  }
}

.advantages-list__volume {
  display: block;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: calc(41 / 36);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 16px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: calc(55 / 48);
    margin-top: 36px;
    margin-bottom: 13px;
    text-transform: none;
    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: calc(66 / 58);
      margin-top: 40px;
      margin-bottom: 15px;
    }
  }
}

.advantages-list__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(20 / 12);
  letter-spacing: 0.02em;
  color: #000000;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(24 / 14);
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: calc(28 / 16);
    }
  }
}
