.gallery {
  background-image: linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
  width: 100vw;
  padding-bottom: 123px;
}

.item {
  border-radius: 20px;
  padding: 5px;
}

.persent-size {
  width: 25%;
}
