.reviews {
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 86px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 119;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-left: 176px;
    padding-right: 176px;
    padding-bottom: 132px;
  }
}

.reviews__img {
  display: block;
  width: 85px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
  }
}

.reviews__text-wrap {
  width: 100%;
  position: relative;
  background-color: #fafafa;
  margin-bottom: 30px;
  padding-top: 42px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 26px;
  &::before {
    content: '';
    position: absolute;
    background-image: url(../images/quotes.svg);
    width: 54px;
    height: 40px;
    top: 27px;
    left: 60px;

    @media screen and (min-width: 768px) {
      top: 27px;
      left: 20px;
    }

    @media screen and (min-width: 1280px) {
      top: 27px;
      left: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.reviews__text {
  position: relative;
  text-align: center;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  background-image: repeating-linear-gradient(180deg, transparent, transparent 29px, #e1e1e1 30px);
}

.reviews__city-name {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  color: #000000;
  margin-bottom: 35px;
  &::before {
    content: '';
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/points.png);
    width: 32px;
    height: 4px;
    margin-bottom: 16px;
  }
}
.review-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.review-item {
  &:not(:last-child) {
    margin-right: 18px;
  }
}
